* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    display: flex;
   justify-content: center; 
   align-items: flex-end; 
   background-image: url("backgroundlevel.jpg");
   background-size: cover;
   background-repeat: no-repeat;
   background-attachment: fixed;
   height: 100vh;
}

#container {
    height: 400px;
    width: 100%;
    position: relative;
    overflow: hidden;
}

#container #ninja {
    height: 90px;
    width: 90px;
    position: absolute;
    bottom: 40px;
    left: 20px;
}

#container #ninja img {
    height: 90px;
    width: 90px;
}

.ninjaActive {
    animation: animateninja 1s linear infinite;
}

@keyframes animateninja {

    0%,
    100% {
        bottom: 28px;
    }

    45%,
    55% {
        bottom: 160px;
    }  
}

#container #block {
    height: 90px;
    width: 125px;
    position: absolute;
    bottom: 20px;
    right: -20px;
}

#container #block img {
    height: 80px;
    width: 125px;
}

.blockActive {
    animation: none;
}

@keyframes blockAnimate {
    0% {
        right: -125px;
    }

    100% {
        right: 100%;
    }
}

#container #road {
    height: 30px;
    width: 1200px;
    position: absolute;
    bottom: 0;
}

#container #road img {
    height: 30px;
    width: 2000px;
    position: absolute;
    left: 0;
    animation: none;
}

@keyframes roadAnimate {
    0% {
        left: 0;
    }

    100% {
        left: -800px;
    }
}

#container #cloud {
    height: 80px;
    width: 1200px;
    border-radius: 40px;
    position: absolute;
    top: 30px;
}

#container #cloud img {
    height: 80px;
    width: 2000px;
    position: absolute;
    left: -2000px;
    animation: none;
}

@keyframes cloudAnimate {
    0% {
        left: -2000px;
    }

    100% {
        left: 100%;
    }
}

/* #score {
    height: auto;
    width: auto;
    position: absolute;
    top: 20px;
    right: 0;
} */

#gameOver {
    visibility: hidden;
    /* font-size: 70px;
    position: absolute;
    left: calc(50% - 181px);
    top: calc(50% - 40px);
    width: 362px;
    height: 80px;
    color: #525252; */
}
/*  */
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: gray;
}
@font-face {
    font-family: 'ninjaFont';
    src: url('ninjaFont.otf') format('opentype');
  }
.Absolute{
    position: absolute;
    width: 100%;
    background-color: rgb(0, 0, 0,0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

}
.winPage{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 350px;
    background-color:rgb(0, 0, 0,0.9);
    border-radius: 30px;

}
.winText{
    color: aliceblue;
    font-family: ninjaFont;
    font-size: 30px;
    text-align: center;
}
.winButton{
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: aliceblue; */
    align-items: center;
    width: 350px;
    height: 180px;
    /* background-color: antiquewhite; */
}
.exitButton,.Next{
     /* background-color: red; */
     text-align: center;
     margin: 10px;
     
     box-sizing: border-box;
     padding: 10px;
     width: 100px;
     height: 50px;
     color: aliceblue;
     border: 2px solid rgb(255, 255, 255);
     border-radius: 20px;
     font-size: 25px;
     font-family: ninjaFont;
     cursor: pointer;
}
.exitButton:hover{
    background-color: red;
    
   
}
a{
    font-family: ninjaFont;
    text-decoration: none;   
    color: rgb(255, 250, 250);
}
.Next{
    /* background-color: green; */
    margin-left: 2px;
    margin-right: 2px;
    padding-left: 2px;
    padding-right: 2px;
    width: 350px;
    height: 70px;
    cursor:no-drop;
}
/* flag bare */
.barRound{
    z-index: -1;
    visibility: visible;
    position: absolute;
    align-self: center;
    width: 400px;
    height:100 ;
}
.round{
    text-align: center;
    font-size: 30px;
    font-family: ninjaFont;
}
.bar {
    z-index: -1;
    visibility: visible;
    position: absolute;
    align-self: center;
    /* top: 20px;
    right: 0; */
    width: 400px;
    height: 50px;
    border-bottom:4px solid black;
    box-shadow: 0 5px 10px rgba(255, 252, 252, 2)
  }
  
  #flag {
    width: 50px;
    height: 50px;
    /* background-color: #f00; */
    position: absolute;
    top: 0;
    left: 0;
    transition: left 0.5s ease; /* Adjust the transition duration as needed */
  }
  /*   for the music */
  #mute-toggle {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: #fff;
  }
  #mute-icon {
    margin-right: 5px;
  }
  
  #mute-toggle:hover {
    color: #ff0000;
  }
  
  #mute-toggle.muted {
    color: #ff0000;
  }
  
  #mute-toggle.muted #mute-label {
    display: none;
  }
  
  #mute-toggle.muted #unmute-label {
    display: inline;
  }
  
  /*   */
  