* {
    margin: 0;
    padding: 0;
  }
.containerCanvas {
    background-image: url("pxfuel.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100vh;
  }
  
/* #gameCanvas {
    /* background-image: url("pxfuel.jpg");
    background-size: cover; */
  /* } */ 
  .containerRound {
    /* background-color: antiquewhite; */
    position: absolute;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    width: 100%;
    height: 40vh;
  }
  .round-result-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 500px;
    margin: 0 auto;
  }
  
  .player {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .player-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
  }
  
  .player-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .player-hull-bar {
    width: 150px;
    height: 10px;
    background-color: lightgray;
    margin-top: 5px;
    border-radius: 10px;
  }
  
  .bar-level {
    height: 100%;
    background-color: rgb(154, 16, 12);
    border-radius: 10px;
  }
  
  .timer {
    display: flex;
    flex-direction: column;
  }
  #Exit{
    margin: 10px;
    padding: 5px 10px;
    font-size: 16px;
    background-color: #0a4304;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  #Exit a{
    text-decoration: none;
    color: antiquewhite;
  }
  
  #timer-value {
    font-size: 20px;
    margin-top: 10px;
    margin-left: 10px;
  }
  
  #timer-button {
    padding: 5px 10px;
    font-size: 16px;
    background-color: #622401;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
    /*   for the music */
    #mute-toggle {
      position: absolute;
      top: 10px;
      right: 10px;
      background-color: transparent;
      border: none;
      cursor: pointer;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      font-size: 18px;
      color: #fff;
    }
    #mute-icon {
      margin-right: 5px;
    }
    
    #mute-toggle:hover {
      color: #ff0000;
    }
    
    #mute-toggle.muted {
      color: #ff0000;
    }
    
    #mute-toggle.muted #mute-label {
      display: none;
    }
    
    #mute-toggle.muted #unmute-label {
      display: inline;
    }
    
    /*   */
  